#housingShowContainer {
  width: 70%;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: #eee;
  overflow: hidden;
}

#housingShowPicture {
  position: absolute;
  height: 100%;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#housingShowInfo {
  width: 70%;
  background-color: #eee;
  margin: auto;
  padding-top: 10px;
}
